<div>
    <input #searchInput type="text" placeholder="Search" (input)="search(searchInput.value)"/>
</div>

@if (enrollments$ | async; as enrollments) {
    <div>
        total items: {{ enrollments.totalCount }}
        total pages: {{ totalPages_$() }}
        current page: {{ page_$() }}
    </div>
    <div>
        <select #pageSizeSelect (keydown)="$event.preventDefault()"
                (change)="$event.preventDefault(); changePageSize(+pageSizeSelect.value)">
            @for (pageSize of [5, 10, 20, 50]; track pageSize) {
                <option [value]="pageSize" [selected]="pageSize == pageSize_$()">{{ pageSize }}</option>
            }))
        </select>
        <
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th (click)="sortBy('name')">Name</th>
                <th (click)="sortBy('company')">Company</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                @for (enrollment of enrollments.items; track enrollment.enrollmentId; let i = $index) {
                    <tr [class.idx]="i == currentIndex_$()" (click)="handleRowClick(i, enrollment)">
                        <td>{{ (page_$() - 1) * pageSize_$() + i + 1 }}</td>
                        <td>{{ enrollment.name }}</td>
                        <td>{{ enrollment.deadline }}</td>
                        <td>{{ enrollment.enrollmentCount }}</td>
                        <td>{{ enrollment.state }}</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <button type="button" (click)="tryPrevPage()">Prev Page</button>
                </td>
                <td>
                    <button type="button" (click)="tryNextPage()">Next Page</button>
                </td>

            </tr>
            </tfoot>
        </table>
    </div>
}
