<div>
    <a routerLink="../add">New Contact</a>
</div>
<div>
    <input #searchInput type="text" placeholder="Search" (input)="search$.next(searchInput.value)"/>
</div>

@if (contacts$ | async; as contacts) {
    <div>
        {{currentIndex}}
    </div>
    <div>
        total items: {{contacts.totalCount}}
        total pages: {{totalPages}}
        current page: {{req.page}}
    </div>
    <div>
        <select #pageSizeSelect (keydown)="$event.preventDefault()" (change)="$event.preventDefault(); changePageSize(+pageSizeSelect.value)">
            @for (pageSize of [5, 10, 20, 50]; track pageSize) {
                <option [value]="pageSize" [selected]="pageSize == req.pageSize">{{pageSize}}</option>
            }))
        </select>
        <
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th (click)="sortBy('name')">Name</th>
                <th (click)="sortBy('company')">Company</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                @for (contact of contacts.items; track contact.id; let i = $index) {
                    <tr [class.idx]="i == currentIndex">
                        <td>{{(req.page - 1) * req.pageSize + i + 1}}</td>
                        <td><a routerLink="../{{contact.id}}">{{ contact.name }}</a></td>
                        <td>{{ contact.company }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.email }}</td>
                    </tr>
                }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <button type="button" (click)="tryNextPage()">Next Page</button>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
}
